
.App {
  text-align: center;
}

.full-width{
  width: 100%;
}

.login-page{
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 30%;
  margin-left: 30%;

}

.login-button{
  width: 100%;
}

.header, .ant-menu{
  display: flex;
  width: 100%;
}

.last{
  margin-left: auto !important;
}

.home{
  margin-top: 50px;
  padding-top: 200px;
  background-color: #e9ecef;
  height: 600px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile{
  margin: 40px;
  box-shadow: 5px 5px 10px lightgrey;
  border-radius: 8px;
  height: 600px;
}

.profile_header{
  height: 400px;
  position: relative;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background: url('./assets/profile-cover.jpg');
}

.profile_picture{
  position: absolute;
  top: 87%;
  left: 40px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.profile_body{
  margin-top: 60px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.home input:disabled, .home input:disabled:hover{
  border: 1px solid #757575;
  opacity: 1;
  color: #757575;
  background-color: white;
  word-break: break-all;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  font-size: 14px;
}
