@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.App {
  text-align: center;
  padding-bottom: 50px;
}

.full-width{
  width: 100%;
}

.login-page{
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 30%;
  margin-left: 30%;

}

.login-button{
  width: 100%;
}

.header, .ant-menu{
  display: flex;
  width: 100%;
}

.last{
  margin-left: auto !important;
}

.home{
  margin-top: 50px;
  padding-top: 200px;
  background-color: #e9ecef;
  height: auto;
}

.subscription-button{
  position: absolute;
  right: 6vw;
  top: 75px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile{
  margin: 40px;
  box-shadow: 5px 5px 10px lightgrey;
  border-radius: 8px;
  height: 600px;
}

.profile_header{
  height: 400px;
  position: relative;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background: url('./assets/profile-cover.jpg');
}

.profile_picture{
  position: absolute;
  top: 87%;
  left: 40px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.profile_body{
  margin-top: 60px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.home input:disabled, .home input:disabled:hover{
  border: 1px solid #757575;
  opacity: 1;
  color: #757575;
  background-color: white;
  word-break: break-all;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  font-size: 14px;
}

.talk-button {
  margin-top: 110px;
}

.talk-modal {
  z-index: 100;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.45);
  padding: 30px;
  border-radius: 10px;
  height: 600px; 
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  align-items: center;
}

.modal-content {
  background-color: white;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.close-section {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.talk-page {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  height: 820px;
}

.ant-btn > .anticon {
    display: inline-flex;
}
.ant-btn > span {
    top: -1px;
    position: relative;
}
.ant-menu-item .anticon {
    display: inline-flex;
}
.ant-menu-dark .ant-menu-item:hover > a, .ant-menu-dark .ant-menu-item-active > a {
    text-decoration: none;
}
.home.container .col-1 {
    font-size: 14px;
    padding-right: 0;
    display: flex;
    align-items: center;
}
.redButton{
	background: #d72424;
	border-color: #d72424;
}
.redButton:hover{
	background: #ed2e2e;
	border-color: #ed2e2e;
}
.addDomen, .removeDomen {
    margin: 0 5px;
    line-height: 1.4;
}
.domen {
    display: flex;
    align-items: center;
	margin-bottom: 10px;
}

.logo {
    width: 30%;
	padding-right: 2%;
}
.logo img {
    width: 100%;
}

.overFall {
    max-width: 100%;
    width: 100%;
    overflow-x: scroll;
}
.pagination {
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
}
.pagination .pageNumber, .pagination .paginationActions, .pagination .paginationCount {
    flex: 1;
}
.pagination .pageNumber {
    text-align: left;
}
.pagination .paginationCount {
    text-align: right;
}
.pageNumber input {
    padding: 0 0 0 10px;
    text-align: center;
	border-radius: 5px;
}
.pagination .forwardPrev, .pagination .prev, .pagination .next, .pagination .forwardNext {
    background: linear-gradient(180deg, rgba(24,144,255,1) 30%, rgba(98,179,255,1) 100%);
    border: none;
    color: #fff;
    border-radius: 50px;
    width: 33px;
    height: 33px;
    align-items: center;
    justify-content: center;
	padding-bottom: 4px;
    cursor: pointer;
}
.pagination .forwardPrev:hover:not([disabled]), .pagination .prev:hover:not([disabled]), .pagination .next:hover:not([disabled]), .pagination .forwardNext:hover:not([disabled]) {
	 background: rgba(24,144,255,1);
}
.forwardPrev[disabled], .prev[disabled], .next[disabled], .forwardNext[disabled] {
    background: #efefef4d;
	color: #c6c6c6;
}

.paginationCount select {
    border-radius: 5px;
    padding: 4px 4px 5px 4px;
    border: 2px solid;
}
.settingForm .form-field {
    display: flex;
    align-items: center;
    flex-direction: row;
	margin-top: 30px;
}
.settingForm .field-title {
    width: 100px;
    text-align: left;
}
.field-selection {
    padding: 0 0 0 15px;
}
.colorPicker {
    padding: 0 0 0 15px;
	flex: 1;
}
input[name="backgroundPicture"] {
    margin-left: 15px;
}
.settingForm .form-field input {
    width: 100%;
}
.settingsButton {
	width: 150px;
	margin-top: 30px;
	padding-bottom: 5px;
}

.linksRow .ShareButton {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.linksRow .ShareButton svg {
    margin-right: 10px;
}
.linksRow {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
	-webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
	max-width: 337px;
	margin: 0 auto;
}
.linksRow.secondsRow {
    margin-top: 24px;
}
.invite_container_google-button {
    font-size: 16px;
    color: #1a90ff;
}
.container_content {
    text-align: center;
    display: flex;
    justify-content: center;
	flex-direction: row;
    flex-wrap: wrap;
	margin-top: 50px;
	border: 1px solid;
    padding: 50px 0;
	font-family: Montserrat;
	background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}
.container_content > div {
    width: 100%;
    justify-content: center;
}
#horizontal_login {
    justify-content: center;
    margin-top: 22px;
}
.container_row.row {
    max-width: 368px;
}

@media screen and (max-width: 368px){
	.buttonInvite {
		width: 100%;
		max-width: calc(100% - 15px);
		margin-top: 10px;
	}
}
.previewText {
    font-size: 28px;
    text-align: left;
    margin-top: 20px;
}